body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.--h-450px::-webkit-scrollbar{
  width: 10px;
}
.--h-450px{
  height: 480px;
}
.--h-auto{
  height: 968px;
}
.--h-25{
  height: 50px;
  overflow: hidden;
}
.--mr-5{
  margin-right: 5px;
}
.--w-280px{
  width: 280px;
}
.--h-100{
  height: 100px;
}

.--bg-blue{
  background-color: blue;
  width: min-content;
}

.--bg-green{
  background-color: #22F1B7;
  width: min-content;
}

@media screen and (max-width:500px) {
  .--d-sm-none{
    display: none;
  }
}

@media screen and (min-width:1000px){
  .--w-md-25{
    width: 25%;
  }
}